<h2>My Cocktails</h2>

<ul>
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <li><%= cocktail.name %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Create Cocktail', new_cocktail_path %>
