<div class='black-background'>
  <div id="banner">
    <h2>Cocktail Time!</h2>
    <p>Ready to get started?</p>
     <%= link_to 'Create Cocktail', new_cocktail_path, class: 'btn btn-light' %>
  </div>


    <ul class='card-grid'>
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
      <div class="card mb-4 ml-2 mr-2">
          <img src="https://res.cloudinary.com/dzjxqunz7/image/upload/v1597480295/cocktail_dxqzpq.jpg" alt="cocktail">
          <li class='cocktail-name text-center'><%= cocktail.name %></li>
      </div>
        <% end %>
      <% end %>
    </ul>
</div>


