body {
  background-image: url("https://res.cloudinary.com/dzjxqunz7/image/upload/q_auto,f_auto,fl_lossy/v1597480295/cocktail-banner_mmd5jc.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr 120px;
  min-height: 100vh;
}

h1 {
  font-size: 64px;
  color: white;
  font-family: 'Sriracha', cursive;
}

.btn-light {
  background-color: #934201;
  border: #934201;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  color: white;
}

.back {
  font-size: 12px;
}

.input {
  width: 100px;
}

.form-container {
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
}

label {
  color: white;
  font-family: 'arvo', serif;
  font-style: italic;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.choose-file-button {
  display: inline-block;
  border: #934201;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  cursor: pointer;
  background-color: #934201;
  padding: 6px;
  height: 38px;
}

input[type="file"] {
    display: none;
}

.create-cocktail {
  margin-top: 16px;
}
