h2 {
  color: white;
  font-size: 64px;
  font-family: 'Sriracha', cursive;
}

h4 {
  color: white;
  font-size: 32px;
  font-family: 'arvo', serif;
}

li {
  color: white;
}

.delete-btn {
  color: white;
}
